pipeline/BI15A_MOVIMENTO.json
{
	"name": "BI15A_MOVIMENTO",
	"properties": {
		"activities": [
			{
				"name": "LAST_WATERMARK",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[get_watermark]",
						"storedProcedureParameters": {
							"process_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.src_table_name",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "gmcore_bi_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NEW_WATERMARK",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT max(cast(@{pipeline().parameters.src_rowversion_col} as bigint)) as new_watermark\nFROM @{pipeline().parameters.src_table_name} (NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "gmcore_bi_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "PARTITIONS",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LAST_WATERMARK",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NEW_WATERMARK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT distinct @pipeline.parameters.src_partition_column as part\nFROM @pipeline().parameters.src_table_name (NOLOCK)\nWHERE cast(@pipeline().parameters.src_rowversion_col as bigint) > @{activity('LAST_WATERMARK').output.firstRow.last_watermark} \nAND cast(@pipeline().parameters.src_rowversion_col as bigint) <= @{activity('NEW_WATERMARK').output.firstRow.new_watermark};",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "gmcore_bi_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Extract Partitions",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "PARTITIONS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('PARTITIONS').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Transfer Data To Staging",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT   @pipeline().parameters.src_cols\nFROM @pipeline().parameters.src_table_name\nWHERE CAST(@pipeline().parameters.src_rowversion_col AS BIGINT) > @{activity('LAST_WATERMARK').output.firstRow.last_watermark}\nAND CAST(@pipeline().parameters.src_rowversion_col AS BIGINT) <= @{activity('NEW_WATERMARK').output.firstRow.new_watermark}\nAND pipeline().parameters.src_partition_column = '@{item().part}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 4,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "gmcore_bi_ds",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "staging_ds",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Insert Into Delta Table",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Extract Partitions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/caio@caiobelfort.onmicrosoft.com/staging-to-raw",
					"baseParameters": {
						"input-path": {
							"value": "/mnt/staging/@{pipeline().runId}",
							"type": "Expression"
						},
						"output-path": {
							"value": "@pipeline().parameters.out_table_name",
							"type": "Expression"
						},
						"run-id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"input-format": "parquet",
						"partition-by": {
							"value": "@pipeline().parameters.output_partition_column",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Insert Into Delta Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_watermark]",
					"storedProcedureParameters": {
						"process_name": {
							"value": {
								"value": "@pipeline().parameters.src_table_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"last_rowversion": {
							"value": {
								"value": "@activity('NEW_WATERMARK').output.firstRow.new_watermark",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "bidb_linked_service",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"process_name": {
				"type": "string",
				"defaultValue": "bi15a_movimento"
			},
			"src_rowversion_col": {
				"type": "string",
				"defaultValue": "bi15a_rowversion"
			},
			"src_table_name": {
				"type": "string",
				"defaultValue": "bi.dbo.bi15a_movimento"
			},
			"out_table_name": {
				"type": "string",
				"defaultValue": "/mnt/raw/rdbms/mssql/gmcore/bi/dbo/bi15a_movimento"
			},
			"src_partition_column": {
				"type": "string",
				"defaultValue": "bi15a_id_filial"
			},
			"src_cols": {
				"type": "string",
				"defaultValue": "bi15a_id, bi15a_id_origem, bi15a_id_filial, bi15a_dt, bi15a_id_tipo_movimento, bi15a_id_categoria, bi15a_id_fornecedor, bi15a_id_cliente, bi15a_id_vendedor, bi15a_valor_total, bi15a_valor_bonificacao, bi15a_valor_icms, bi15a_valor_icms_st, bi15a_valor_custo_medio, bi15a_valor_custo_final, bi15a_valor_acrescimo, bi15a_valor_desconto_fiscal, bi15a_valor_desconto, bi15a_valor_juros, bi15a_valor_total_st, cast(bi15a_rowversion AS bigint) AS bi15a_rowversion, getutcdate() AS __dtts_extracao"
			},
			"output_partition_column": {
				"type": "string",
				"defaultValue": "bi15a_id_filial"
			}
		},
		"folder": {
			"name": "EXTRACAO_ORIGEM/GMCORE/BI"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-08T16:03:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}